:root {
    --primary-text: #f01e3e;
    --secondary-text: #163f58;
    --dark-black: #252525;
    --white-text: #fff;
    --gray-text: #464646;
    --light-white: #c8c8c8;
}

body {
    background-color: var(--dark-black);
    color: var(--white-text);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-text);
}

::selection {
    background: #d8445b;
    color: var(--white-text);
    text-shadow: none;
}

section {
    padding: 55px 0;
    background-color: var(--dark-black);
    min-height: 100vh;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.left-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* Add this */
    top: 50%; /* Adjust this value as needed */
    transform: translateY(-50%); /* Adjust this value as needed */
}

.skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-icon i {
    margin-bottom: 5px;
}

.skill-icon span {
    font-size: 0.8em;
}

.main-title {
    font-size: 32px;
    max-width: 567px;
}

.rd-txt {
    color: var(--primary-text);
}

.main-text {
    font-size: 20px;
}

.sec-box {
    padding: 20px;
    box-shadow: 0 0.5rem 1rem 1px rgb(96 91 91 / 72%);
    margin-bottom: 54px;
    border-radius: 8px;
}

.btn-primary,
.btn:hover,
.btn:first-child:active,
.btn:focus-visible {
    background-color: var(--primary-text);
    border-color: var(--primary-text);
}

.contact-form .form-control {
    padding: 16px 0.75rem;
    color: #ffffff;
    background-color: #131212;
    border: #131212;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(240 30 62 / 31%);
}

/* footer */
.footer {
    padding: 20px 0;
    background-color: var(--dark-black);
}

.footer p {
    margin: 0;
}

.footer .list-inline-item {
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .left-wrapper {
        width: 34%;
        height: 100vh;
        position: fixed;
        top: 50%;
        left: 29%;
        transform: translate(-50%, -50%);
    }

    .main-wrapper {
        flex-direction: row;
    }

    .skill-wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    .main-title {
        font-size: 44px;
    }

    .skill-wrapper {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1440px) {
    .main-title {
        font-size: 49px;
    }
}
